<html lang="en">
        <head>
            <!-- <?php header("Access-Control-Allow-Origin: *"); ?> -->
            
          <title>product</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
        
        <div class="container">
          <h2>Product Management</h2>
          <!-- <form method="GET" runsat="server">
            <div class="form-group">
              <label for="name">token</label>
              <input type="text" class="form-control" id="token" placeholder="Collection type" name="name">
              <span id="e_name" style="color:red;display:none;"></span>
            </div> -->
            <!-- <div class="form-group">
              <label for="name">collectionType</label>
              <input type="text" class="form-control" id="collectionType" placeholder="Collection type" name="name">
              <span id="e_name" style="color:red;display:none;"></span>
            </div>
            <div class="form-group">
              <label for="email">productSKU</label>
              <input type="text" class="form-control" id="productSKU" placeholder="Enter id" name="collection_id">
              <span id="e_mail" style="color:red;display:none;"></span>
            </div> -->
            <!-- <div class="form-group">
              <label for="pwd">title</label>
              <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
              <span id="e_pwd" style="color:red;display:none;"></span>
            </div>
            <div class="form-group">
              <label for="pwd">description</label>
              <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
              <span id="e_pwd" style="color:red;display:none;"></span>
            </div> -->
            <!-- <div class="form-group">
              <label for="pwd">price</label>
              <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
              <span id="e_pwd" style="color:red;display:none;"></span>
            </div> -->
            <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
              <!-- <div id="msg" style="color: green;display:none"></div> -->
          </form>
        </div>
        </body>
        
        <script>
                
        function validate()
        {
        // var token=$("#token").val();
        //   var collectionType=$("#collectionType").val();
        //   var productSKU=$("#productSKU").val();
        //   var title=$("#title").val();
        //   var description=$("#description").val();
        //   var price=$("#price").val();
      // $("#msg").css("display","none");
          $.ajax({
           
                    type: 'GET',
                   // crossDomain: true,
                    url: 'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8084/api/products/getallproducts',
                    headers:{'token':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6MTUxNTc1MTU0NiwiaWF0IjoxNTE1NzQ3OTQ2fQ.o8oLDGVfkxbaXwz95uzP35p7yBxlp2139kgwKp-Nh-Y'},
        
                   // beforeSend: setHeader,
                          success: function(data) {
                                alert("product retrieved succesfully");
                                    console.log('success');
                                    console.log(data);
                                    res.json(data);
                            //          $("#msg").css("display","block");
                            // $("#msg").html("All products are retrived succesfully ");
                                }
        
          });
          return false;
        }
        // function setHeader(xhr) {
        
        //   xhr.setRequestHeader('token', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6MTUxNTY3NzU2NiwiaWF0IjoxNTE1NjczOTY2fQ.74tCOk-vKQnv4Ivxph2xYAowU44ExSGC97NsyrdId9U');
        // }
        
        </script>
        </html>
        
        